# Importing relevant libraries

In [2]:
import os, geopandas as gpd, mapclassify, numpy as np

# Geoprojection of paralized projects

Importing relevant data

In [3]:
countries= gpd.read_file(os.path.join("maps", "World_Countries", "World_Countries.shp"))
cities= gpd.read_file(os.path.join("maps", "World_cities","World_cities.shp"))

Subsetting

In [7]:
peru= countries[countries['COUNTRY']=="Peru"]

In [10]:
perucities_clipped= gpd.clip(gdf=cities, 
                             mask= peru)

In [12]:
peru

    COUNTRY                                           geometry
172    Peru  POLYGON ((-69.56750 -10.95056, -69.56844 -10.9...

In [11]:
perucities_clipped

         NAME COUNTRY CAPITAL                     geometry
269  Arequipa    Peru       N  POINT (-71.52274 -16.39754)
339     Cuzco    Peru       N  POINT (-71.86000 -13.60000)
529      Lima    Peru       Y  POINT (-76.82355 -12.06800)
317    Callao    Peru       N  POINT (-76.83563 -12.04354)
423  Chimbote    Peru       N   POINT (-78.45315 -8.93010)
260   Iquitos    Peru       N   POINT (-73.19149 -3.75290)
476  Trujillo    Peru       N   POINT (-79.00000 -7.93000)
422  Chiclayo    Peru       N   POINT (-79.83000 -6.62000)